

.fc-more {
    color: #015DE7 !important;
    font-size: 14px;
    font-weight: bold;
    /* background-color: #2BBB63;*/
}

.fc-time {
    display: none;
}

    .events-header h1

{
    font-size: 24px;
    margin: 4;
}
