<!-- Logout Modal-->
<div class="modal fade" data-backdrop="static" id="myModal">
    <div class="modal-dialog  modal-lg" id="myModalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
    </div>
</div>

